.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.cartImage{
  float: right;
  width: 50px;
}
.cartButton{
background: skyblue;
    padding: 10px;
    border: 0px;
    border-radius: 3px;
}
.removeCartItemButton{

    background: rebeccapurple;
    color: white;
    /* padding: 10px; */
    /* padding-left: 9px; */
    /* outline: 5px; */
    /* outline-color: white; */
    /* outline-offset: 10px; */
    /* outline-color: green; */
    /* outline-width: 10px; */
    position: relative;
       padding: 10px;
    border: 0px;
    border-radius: 2px;
    right: -7px;
}
.cartItemCount{
        float: right;
    background: cornflowerblue;
    /* padding: 6px; */
    border-radius: 42px;
    color: aliceblue;
    font-weight: bold;
    position: relative;
    right: 20px;
    top: -16px;
    padding-right: 13px;
    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.productWrapper{
    border: 1px solid gainsboro;
    width: 34%;
    margin-left: 3px;
    border-radius: 5px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
